// $primary: #0099CC;
$primary-b: #19caad;
$primary-c: #D1BA74;
$primary-d: #F4606C;
// $color-bg-light: #f5f5f5;
// $color-box-light: #ffffff;

$primary: #FF5531;
$color-title-bg: #4C002E;
$color-bg-light: #FCF9F2;
$color-box-light: #B1A398;
$color-card: #FFC296;


$color-primary-transparency: #4762fe1a;

$text-style: "Georgia", Times, serif;
$text-color: #f5f5f5;
$text-bg: #f0917b;
$text-light: #FF5531;
